.inputtext {
  border-bottom: 1px solid #ccc;  
}

.inputtext .input-dummy {
  position: absolute;
  bottom: -1px;
  color: transparent;
  border-bottom: 2px solid #000;
}

.ui.form .inputtext input[type=text],
.inputtext input[type=text],
.inputtext input[type=text]:focus {
  background: transparent;
  padding: 5px 0;
  border: none;
}